# Unity Directories with autogen files
VisualizerTool/Library/
VisualizerTool/Temp
VisualizerTool/Logs
VisualizerTool/obj/Debug

*.pyc
.ipynb_checkpoints
*-checkpoint.ipynb
FeatureTool/__pycache__/GoogleMapsAPI.cpython-39.pyc
FeatureTool/AppAssets/prefs.windowprefs

FeatureTool/AppAssets/Archives/
.env
*_fill.png
.vscode