# Unity Directories with autogen files
VisualizerTool/Library/
VisualizerTool/Temp
VisualizerTool/Logs
VisualizerTool/obj/Debug

*.pyc
FeatureTool/__pycache__/GoogleMapsAPI.cpython-39.pyc
FeatureTool/AppAssets/prefs.windowprefs

FeatureTool/AppAssets/Archives/
